@font-face {
    font-family: 'cwTeXYen';
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.eot);
    src: url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.eot?#iefix) format('embedded-opentype'),
            url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.woff2) format('woff2'),
            url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.woff) format('woff'),
            url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.ttf) format('truetype');
}

body{
    margin: 0px;
    background-image: url("img/1.png");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

header{
    text-align: center;
    margin: 15px 0;
}

.box{
    width: 395px;
    height: 245px;
    margin: 20px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,1.00);
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;  
}

.img_card{
    height: 100px;
    margin-top: 27px;
}

#content {
    align-content: space-around;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box_text{
    font-size: 30px;
    margin: 15px 0;
    font-family: 'cwTeXYen', 'Comic Sans MS';
    font-weight:bold;
}